﻿@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.css" />
<link rel="stylesheet" href="~/css/site.css" />

<style>
    body {
        background-image: url("/images/gig.jpg");
    }
</style>

<div class="jumbotron">
    <h1 class="display-3 text-center">Welcome!</h1>
    <p class="lead text-center">Feel free to register either as venue or as artist.</p>

    <div style="width : 100%">
        <button type="button" class="btn btn-primary btn-lg btn-block w-50" style="margin-left : auto; margin-right:auto" onclick="window.location.href='/Account/RegisterVenue'">Register as Venue</button><br />
    </div>
    <div style="width : 100%">
        <button type="button" class="btn btn-primary btn-lg btn-block w-50" style="margin-left : auto; margin-right:auto" onclick="window.location.href='/Account/RegisterArtist'">Register as Artist</button>
    </div>
</div>
