﻿@using GigFixer.ViewModels
@model AccountViewModel
@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}


<form asp-controller="Account" asp-action="RegisterVenue" method="post">
    <h2>Register as Venue</h2>

    <div class="form-group">
        <label for="Email">Email address</label>
        <input asp-for="Email " type="email" class="form-control" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input asp-for="Firstname" class="form-control">
    </div>

    <div class="form-group">
        <label for="Infix">Infix</label>
        <input asp-for="Infix" class="form-control">
    </div>


    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input asp-for="Lastname" class="form-control">
    </div>

    <div class="form-group">
        <label for="TelNr">Phone number</label>
        <input asp-for="TelNr" class="form-control" placeholder="+ [regional code] 0123 4567">
    </div>

    <div class="form-group">
        <label for="Venuename">Venue name</label>
        <input asp-for="Venuename" class="form-control">
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <input asp-for="City" class="form-control">
    </div>

    <div class="form-group">
        <label for="Postalcode">Postalcode</label>
        <input asp-for="Postalcode" class="form-control">
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <input asp-for="Address" class="form-control">
    </div>

    <div class="form-group">
        <label for="Hallname">Hallname</label>
        <input asp-for="Hallname" class="form-control">
    </div>

    <div class="form-group">
        <label for="Hallcapacity">Hall capacity</label>
        <input type="number" asp-for="Hallcapacity" class="form-control">
    </div>

    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Create Account</button>

</form>