﻿@using GigFixer.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RegisterViewModel
<title>Gigfixer - Register</title>
<form asp-controller="Gig" asp-action="Register" asp-route-GigId=@Model.GigViewModel.Id method="post">
    <h2>Register</h2>

    <div class="form-group">
        <label for="descriptionTextarea">Discription</label>
        <textarea asp-for="Description" class="form-control" id="descriptionTextarea" rows="3" placeholder="Description"></textarea>
        <small id="descHelp" class="form-text text-muted">Tell the venue why you should get to play!</small>
    </div>

    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>

</form>
