﻿<!DOCTYPE html>


@using GigFixer.ViewModels
@model AccountViewModel
@{
    Layout = null;
}


<html lang="en">
<head>

    <!-- Character Encoding-->
    <meta charset="utf-8">

    <!-- Title -->
    <title>Gigfixer - Login</title>

    <!-- Style-->
    <style>
        body {
            background-image: url("/images/gig.jpg");
            color: black;
        }
    </style>

    <!-- Links -->
    <link rel="stylesheet" href="~/speechfiles/speech-input.css">
    <link rel="stylesheet" href="~/speechfiles/demo.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/keyboard.css" rel="stylesheet" type="text/css" />
    <link id="font" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!-- Scripts -->

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.keyboard.js"></script>
    <script src="~/lib/jquery/dist/jquery.keyboard.extension-typing.js"></script>

    <script>
        function OSKu() {
            $("#email").keyboard({
                autoAccept: true,
                tabNavigation: true,
                enterNavigation: true
            })
            document.getElementById("email").focus();
        }
        function OSKp() {
            $("#password").keyboard({
                autoAccept: true,
                tabNavigation: true,
                enterNavigation: true
            })
            document.getElementById("password").focus();
        }
    </script>

</head>

<body>

    <div class="card center-div">
        <article class="card-body">
            <h1 class="card-title text-center">Gigfixer</h1>
            <h3 class="card-title text-center ">Sign in</h3>

            <!-- Summary of validation errors-->
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-dismissible alert-danger">
                    @Html.ValidationSummary()
                </div>
            }

            <p class="text-success text-center">Create <a href="https://dictionary.cambridge.org/dictionary/english/gig">gig</a>'s as a venue, and register on gig's as an artist</p>

                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                 {
                <form>

                    <label for="email"> Email Address: </label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 
                                <em class="fa fa-user"></em> 
                                <img alt="On Screen Keyboard" tabindex="0" title="Click for Onscreen Keyboard" id="emailosk" 
                                     onclick="OSKu()" onKeyDown="if (event.keyCode == 13) { OSKu() }" 
                                     style="margin-left: 10px;" class="icon"
                                     src="~/images/keyboard.png" /> 
                                </span>
                            </div>

                            <!-- Email Form-->
                            <input tabindex="0" id="email" style="width : 1808px;" class="form-control speech-input" asp-for="Email" name="email" type="text" />

                        </div>
                    </div>

                    <label for="password"> Password: </label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                <em class="fa fa-lock"></em>
                                <img alt="On Screen Keyboard" tabindex="0" title="Click for Onscreen Keyboard" id="passwordosk" 
                                     onclick="OSKp()" onKeyDown="if (event.keyCode == 13) { OSKp() }" 
                                     style="margin-left: 10px;" class="icon" 
                                     src="~/images/keyboard.png" /> </span>
                            </div>
                            
                            <!-- Password Form-->
                            <input id="password" tabindex="0" style="width : 1810px;" class="form-control speech-input" asp-for="Password" name="password" type="password" />

                        </div>
                    </div>

                    <br />

                    <!-- Login button -->
                    <div class="form-group">
                        <button tabindex="0" type="submit" class="btn btn-secondary btn-block"> Login  </button>
                    </div>

                    <!-- Register button -->
                    <p class="text-center"><a tabindex="0" href="Account/Choice" class="btn">Don't have an account yet?</a></p>
                </form>
                 }

            <!-- This script cannot be in the Head tag, because of plugin limitations -->
            <script src="~/speechfiles/speech-input.js"></script>

        </article>
    </div>

</body>

</html>
