﻿@using GigFixer.ViewModels
@model ArtistViewModel
<title>Gigfixer - Home</title>
@using (Html.BeginForm("ArtistHome", "Artist", FormMethod.Get))
{

    <br />
    <h2>Home</h2><br />

    <h4>Your artist information:</h4><br />

    <label for="artist">Artist: @Model.Name</label><br />
    <label for="Genre">Genre: @Model.Genre</label><br />

}


