﻿@using ClassLibary
@using GigFixer.ViewModels
@model VenueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Gigfixer - Home</title>
<br />
<h2>Home</h2><br />

<h4>Your Venue information:</h4><br />

<label for="Venue">Venue: @Model.Name </label><br />
<label for="City">City: @Model.City</label><br />
<label for="Address">Address: @Model.Address </label><br />
<label for="Postal">ZIP: @Model.PostalCode </label><br /><br />

<h4>Halls:</h4><br /> <a class="btn btn-primary float-right" asp-action="Hall" asp-controller="Venue">Manage Halls</a><br />

@foreach (Hall hall in Model.Halls)
{
    <label for="HallName">Hall: @hall.Name </label><br />
    <label for="HallCapacity">Capacity: @hall.Capacity </label><br /><br />
}

