﻿@model GigViewModel
@using ClassLibary;
@using GigFixer.ViewModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Gigfixer - Gigs</title>
<br />
<h2>Gigs</h2><br />

@if ((string)TempData["Status"] != null)
{
    if ((string)TempData["Status"] == "you already registerd on this gig")
    {
        <div class="alert alert-dismissible alert-danger">
            @TempData["Status"]
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-success">
            @TempData["Status"]
        </div>
    }
}



@foreach (Gig gig in ViewBag.ListGigs)
{
    <form asp-controller="Gig" asp-action="RegisterPage" method="post" asp-route-gigid=@gig.Id>

        <div class="jumbotron center-div-gig">

            <h1 class="display-2 text-center">@gig.Name</h1>
            <p class="lead text-center">@gig.Description</p>
            <label for="Location" class="text-center"> Venue: @gig.Venue.Name </label><br />
            <label for="Hall"> Hall: @gig.Hall.Name  </label><br />
            <label for="Genre" class="text-center"> Genre: @gig.Genre</label><br />
            <label for="Date" class="text-center"> Date: @gig.Date</label><br /><button type="submit" class="btn btn-primary float-right">Register</button>
            <label for="Wage" class="text-center"> Wage: @gig.Wage</label><br />
        </div>

    </form>
    <br />
}

