﻿@using ClassLibary
@using GigFixer.ViewModels
@model ArtistViewModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Gigfixer - Registrations</title>
<br />
<h2>Registrations</h2>
<h5>You have a total of @((int)ViewBag.Count) registrations on the gigs beneath!</h5>

@if ((string)TempData["Status"] != null)
{
    <div class="alert alert-dismissible alert-success">
        @TempData["Status"]
    </div>
}

@foreach (Gig gig in ((List<Gig>)ViewBag.ListGigs))
{

    <div class="jumbotron center-div-gig">

        <h1 class="display-2 text-center">@gig.Name</h1>
        <p class="lead text-center">@gig.Description</p>
        <label for="Location" class="text-center"> Venue: @gig.Venue.Name  </label><br />
        <label for="Hall"> Hall: @gig.Hall.Name  </label><br />

        <label for="spacer"> Registrations for this event:  </label><br />

        @foreach (Registration reg in ((List<Registration>)ViewBag.ListRegistrations).Where(f => f.Gig.Id == gig.Id))
        {
            <form asp-controller="Registration" asp-action="DeleteRegistration" asp-route-regId=@reg.Id>
                <div class="jumbotron center-div-reg">
                    <label for="Artist" class="text-center"> Artist: @reg.Artist.Name </label><br />
                    <label for="Hall"> Description: @reg.Description  </label><br />
                    <label for="Hall"> Approved: @reg.Approved  </label><br /><br /><button type="submit" class="btn btn-primary float-right">Delete Registration</button>
                </div>
            </form>
        }

    </div>

    <br />
}


