﻿@using ClassLibary
@using GigFixer.ViewModels
@model GigViewModel
@{
    ViewData["Title"] = "CreateEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-controller="Gig" asp-action="Create">

    <br />
    <h2>Create a Gig</h2>

    <!-- Form Name -->
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="nameInput" placeholder="Name">
        <small id="nameHelp" class="form-text text-muted">What are you going to call your gig?</small>
    </div>

    <!-- Form Genre -->
    <div class="form-group">
        <label for="genreInput">Genre</label>
        <input asp-for="Genre" type="text" class="form-control" id="genreInput" placeholder="Genre">
        <small id="nameHelp" class="form-text text-muted">What genre artist(s) are going to play at your gig?</small>
    </div>

    <!-- Form Description -->
    <div class="form-group">
        <label for="descriptionTextarea">Discription</label>
        <textarea asp-for="Description" class="form-control" id="descriptionTextarea" rows="3" placeholder="Description"></textarea>
        <small id="descHelp" class="form-text text-muted">Give your gig a nice story!</small>
    </div>

    <!-- Form Hall -->

    <div class="form-group">
        <label for="hallDropdown">Choose a hall</label>
        <select asp-for="HallId" class="form-control" placeholder="Select a hall">

            @foreach (Hall hall in ViewBag.ListHalls as List<Hall>)
            {
                <option value="@hall.Id">
                    @hall.Name
                </option>
            }
        </select>
    </div>

    <!-- Wage Form -->
    <div class="form-group">
        <label class="control-label">Wage</label>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">€</span>
                </div>
                <input asp-for="Wage" type="number" class="form-control" placeholder="Wage">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <small id="wageHelp" class="form-text text-muted">What kind of budget do you have for this gig?</small>
        </div>
    </div>

    <div class="input-group-prepend">
        <label class="glyphicon-calendar"></label>
    </div>

    <div class="form-group">
        <label class="control-label">Date</label>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">📅</span>
            </div>
            <input asp-for="Date" class="form-control" placeholder="Date">
        </div>
        <small id="dateHelp" class="form-text text-muted">The date and time the gig is going to take place</small>
    </div>

    <!-- Submit button -->
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>

</form>