﻿@using GigFixer.ViewModels
@model HallViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateHall", "Venue", FormMethod.Post))
{

    <br />
    <h2>Create a Hall</h2>

    <!-- Form Name -->
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="nameInput" placeholder="Name">
        <small id="nameHelp" class="form-text text-muted">What is the name of the hall?</small>
    </div>

    <!-- Form Capacity -->
    <div class="form-group">
        <label for="capacityInput">Capacity</label>
        <input asp-for="Capacity" type="number" class="form-control" id="capacityInput" placeholder="Capacity">
        <small id="capacityHelp" class="form-text text-muted">What is your hall's capacity?</small>
    </div>

    <!-- Submit button -->
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
}