﻿@using ClassLibary
@using GigFixer.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VenueViewModel
<title>Gigfixer - Gigs</title>
<br />
<h2>Events</h2>

@if ((string)TempData["Status"] != null)
{
    if ((string)TempData["Status"] == "Successfully created the gig")
    {
        <div class="alert alert-dismissible alert-success">
            @TempData["Status"]
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            @TempData["Status"]
        </div>
    }
}

<a class="btn btn-primary btn-lg btn-block" asp-action="CreateGig" asp-controller="Venue">Create Gig</a><br />

@foreach (Gig gig in ViewBag.ListGigs)
{

    <div class="jumbotron center-div-gig">

        <h1 class="display-2 text-center">@gig.Name</h1>
        <p class="lead text-center">@gig.Description</p>
        <label for="Location" class="text-center"> Venue: @gig.Venue.Name </label><br />
        <label for="Hall"> Hall: @gig.Hall.Name  </label><br />
        <label for="Genre" class="text-center"> Genre: @gig.Genre</label><br />
        <label for="Date" class="text-center"> Date: @gig.Date</label><br />
        <label for="Wage" class="text-center"> Wage: @gig.Wage</label><br />
        <form asp-controller="Gig" asp-action="DeleteGig" method="post" asp-route-gigid=@gig.Id>
            <button type="submit" class="btn btn-primary float-right">Delete Gig</button>
        </form>
    </div>
    <br />
}