﻿@using ClassLibary
@using GigFixer.ViewModels
@model VenueViewModel

@{
    ViewData["Title"] = "HallPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Halls:</h2>

@if ((string)TempData["Status"] != null)
{
    if ((string)TempData["Status"] == "Successfully deleted a hall")
    {
        <div class="alert alert-dismissible alert-danger">
            @TempData["Status"]
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-success">
            @TempData["Status"]
        </div>
    }
}

<a class="btn btn-primary btn-lg btn-block" asp-action="CreateHallPage" asp-controller="Venue">Create Hall</a><br />

@foreach (Hall hall in Model.Halls)
{

    <div class="jumbotron center-div-gig">
        <label for="Hallname" class="text-center"> Name: @hall.Name </label><br />
        <label for="Hallcapacity"> Capacity: @hall.Capacity  </label><br />
        <form asp-controller="Venue" asp-action="DeleteHall" method="post" asp-route-hallId=@hall.Id>
            <button type="submit" class="btn btn-primary float-right">Delete Hall</button>
        </form>
    </div>

}