﻿@using ClassLibary
@using GigFixer.ViewModels
@model VenueViewModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Gigfixer - Registrations</title>

<br />
<h2>Registrations</h2>

@if ((string)TempData["Status"] != null)
{
    if ((string)TempData["Status"] == "Approved registration successfully")
    {
        <div class="alert alert-dismissible alert-success">
            @TempData["Status"]
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            @TempData["Status"]
        </div>
    }

}


@foreach (Gig gig in ViewBag.ListGigs)
{

    <div class="jumbotron center-div-gig">

        <h1 class="display-2 text-center">@gig.Name</h1>
        <p class="lead text-center">@gig.Description</p>
        <label for="Location" class="text-center"> Venue: @gig.Venue.Name </label><br />
        <label for="Hall"> Hall: @gig.Hall.Name  </label><br />

        <label for="spacer"> Registrations for this event:  </label><br />

        @if (((List<Registration>)ViewBag.ListRegistrations).Any(f => f.Gig.Id == gig.Id) == true)
        {

            @foreach (Registration reg in ((List<Registration>)ViewBag.ListRegistrations).Where(f => f.Gig.Id == gig.Id))
            {
                @if (reg.Approved == false)
                {

                    <div class="jumbotron center-div-gig">
                        <label for="Artist" class="text-center"> Artist: @reg.Artist.Name </label><br />
                        <label for="Hall"> Description: @reg.Description  </label><br />
                        <form asp-controller="Registration" asp-action="Approve" method="post" asp-route-regid=@reg.Id>
                            <button type="submit" class="btn btn-primary float-right">Approve Registration</button>
                        </form>
                        <form asp-controller="Registration" asp-action="DeleteRegistration" method="post" asp-route-regid=@reg.Id>
                            <button type="submit" class="btn btn-primary float-right">Delete Registration</button>
                        </form>
                        <label for="Hall"> Approved: @reg.Approved  </label><br /><br />
                    </div>
                }
                else
                {
                    <form asp-controller="Registration" asp-action="Decline" method="post" asp-route-regid=@reg.Id>
                        <div class="jumbotron center-div-gig">
                            <label for="Artist" class="text-center"> Artist: @reg.Artist.Name </label><br />
                            <label for="Hall"> Description: @reg.Description  </label><br /><button type="submit" class="btn btn-primary float-right">Decline Registration</button>
                            <label for="Hall"> Approved: @reg.Approved  </label><br /><br />
                        </div>
                    </form>}
            }

        }
        else
        {
            <H4> There are no registrations yet </H4>
        }

    </div>
    <br />
}